<phpunit
	bootstrap="./Bootstrap.php"
	colors="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="true"
	stopOnFailure="true"
	stopOnIncomplete="true"
	stopOnSkipped="true">
	<testsuites>
		<testsuite name="CodeIgniter Application Test Suite">
			<directory suffix="test.php">./</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">../controllers</directory>
			<directory suffix=".php">../models</directory>
			<directory suffix=".php">../libraries</directory>
			<directory suffix=".php">../helpers</directory>
			<exclude>
				<file>../libraries/__.php</file>
				<file>../libraries/Mcapi.php</file>
				<file>../libraries/Mandrill.php</file>
				<file>../libraries/REST_Controller.php</file>
        <file>../libraries/Format.php</file>
				<directory suffix=".php">../libraries/Mandrill</directory>
        <directory suffix=".php">../libraries/Google</directory>
      </exclude>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="build/coverage"/>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
		<log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="true"/>
	</logging>
	<php>
		<server name='REMOTE_ADDR' value='127.0.0.1'/>
		<const name="PHPUNIT_TESTSUITE" value="true"/>
	</php>
</phpunit>
