application/cache/*
application/logs/*
application/tests/build/*
vendor/
.env
.phpintel/*
application/config/google-api.p12
.htaccess
application/tests/phpunit.xml

tests/_output/*
application/tests/Bootstrap.php
node_modules/
